{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="jumbotron py-5 px-0 bg-dark" style="width: 60%">
            <h1 class="text-center mb-3">Sign in</h1>

            <div class="d-flex justify-content-center">
                <div class="w-75">
                    <form method="post">
                        {% if app.user %}
                            <div class="mb-3">
                                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="userEmail">Email address</label>
                            <input type="email" value="{{ last_username }}" class="form-control" id="userEmail"
                                   placeholder="Enter email" name="email" required autofocus>
                        </div>
                        <div class="form-group">
                            <label for="userPassword">Password</label>
                            <input type="password" class="form-control" id="userPassword" placeholder="••••••••••"
                                   name="password"
                                   required>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="userRemember" name="_remember_me">
                            <label class="form-check-label" for="userRemember">Remember me</label>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
