{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="jumbotron w-50 py-5 bg-dark">
            <h1 class="text-center">Create your account for free!</h1>
            <p class="lead text-center">Select whether you want to <strong class="font-weight-bold">book</strong> rooms
                or to <strong class="font-weight-bold">rent</strong> your rooms to others.</p>
            <hr class="my-4">
            <a class="btn btn-primary btn-lg btn-block text-light" href="{{ path('app_register_client') }}">I want to
                <strong class="font-weight-bold">book</strong> rooms!</a>
            <a class="btn btn-dark btn-lg btn-block text-light" href="{{ path('app_register_owner') }}">I want to
                <strong class="font-weight-bold">rent</strong> my rooms!</a>
            <hr class="my-4">
            <p class="text-center"><strong class="font-weight-lighter">You already have an account?</strong> <a
                        href="{{ path('app_login') }}">Sign in!</a></p>
        </div>
    </div>
{% endblock %}

