{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div class="jumbotron w-75 px-0 bg-dark">
            <h1 class="text-center">Create your client account</h1>
            <p class="lead text-center">Fill in your information</p>
            <hr class="my-4 w-75">
            <div class="d-flex justify-content-center">
                <div class="w-75">
                    {{ include('security/_registration_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
