{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>

    <div class="container-fluid">
        <div class="row">
            <h1>Edit User</h1>
            <div class="spacer"></div>
            {{ include('back_office/user/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('back_office/user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
