{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Attaché à</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        {{ role|replace({'ROLE_': "", 'USER': "User", 'ADMIN': "Admin", 'OWNER': "Owner", 'CLIENT': "Client"}) }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% if user.owner %}
                        <a href="{{ path('owner_show', {id: user.owner.id}) }}">
                            <i class="fas fa-home"></i>&nbsp;{{ user.owner.name }}
                        </a>
                    {% elseif user.client %}
                        <a href="{{ path('client_show', {id: user.client.id}) }}">
                            <i class="fas fa-user-tag"></i>&nbsp;{{ user.client.name }}
                        </a>
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
{% endblock %}
