{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>User</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('user_edit', {'id': user.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>
                {% for role in user.roles %}
                    {{ role|replace({'ROLE_': "", 'USER': "User", 'ADMIN': "Admin", 'OWNER': "Owner", 'CLIENT': "Client"}) }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% if user.owner %}
            <tr>
                <th>Owner</th>
                <td>
                    <a href="{{ path('owner_show', {id: user.owner.id}) }}"><i
                                class="fas fa-home"></i>&nbsp;{{ user.owner.name }}
                    </a>
                </td>
            </tr>
        {% elseif user.client %}
            <tr>
                <th>Owner</th>
                <td>
                    <a href="{{ path('client_show', {id: user.client.id}) }}"><i
                                class="fas fa-user-tag"></i>&nbsp;{{ user.client.name }}
                    </a>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {{ include('back_office/user/_delete_form.html.twig') }}
{% endblock %}
