{% extends 'base.html.twig' %}

{% block title %}Guest index{% endblock %}

{% block body %}
    <h1>Guest index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Booking</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>{{ guest.name }}</td>
                <td>{{ guest.birthday ? guest.birthday|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': guest.booking.id}) }}">{{ guest.booking.startingOn|date("F jS Y") }}
                        - {{ guest.booking.endingOn|date("F jS Y") }}</a>
                    in <a href="{{ path('room_show', {'id': guest.booking.room.id}) }}">Room
                        #{{ guest.booking.room.id }}</a>
                </td>
                <td>
                    <a href="{{ path('guest_show', {'id': guest.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('guest_edit', {'id': guest.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('guest_new') }}">Create new</a>
{% endblock %}
