{% extends 'base.html.twig' %}

{% block title %}Guest{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('booking_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Guest</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('guest_edit', {'id': guest.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ guest.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ guest.name }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ guest.birthday ? guest.birthday|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Booking</th>
            <td>
                <a href="{{ path('booking_show', {'id': guest.booking.id}) }}">{{ guest.booking.startingOn|date("F jS Y") }}
                    - {{ guest.booking.endingOn|date("F jS Y") }}</a>
                in <a href="{{ path('room_show', {'id': guest.booking.room.id}) }}">Room
                    #{{ guest.booking.room.id }}</a>
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/guest/_delete_form.html.twig') }}
{% endblock %}
