{{ form_start(form) }}
    {{ form_row(form.summary) }}
    {{ form_row(form.description) }}
    {{ form_row(form.capacity) }}
    {{ form_row(form.superficy) }}
    {{ form_row(form.price) }}
    {{ form_row(form.address) }}
    {{ form_row(form.animals) }}
    {{ form_row(form.pictures, {'attr': {
        'data-index': form.pictures|length,
        'data-add-text': "Add a picture",
        'data-del-text': "Remove"
    }}) }}
    {{ form_row(form.owner) }}
    {{ form_row(form.regions) }}

<hr/>
<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
