{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('room_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>

    <div class="container-fluid">
        <div class="row">
            <h1>Edit Room</h1>
            <div class="spacer"></div>
            {{ include('back_office/room/_delete_form.html.twig') }}
        </div>
    </div>

    {{ include('back_office/room/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('room-pictures-collection-forms') }}
{% endblock %}
