{% extends 'base.html.twig' %}

{% block title %}Room index{% endblock %}

{% block body %}
    <h1>Room index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Summary</th>
            <th>Description</th>
            <th>Capacity</th>
            <th>Superficy</th>
            <th>Price</th>
            <th>Address</th>
            <th>Animals</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.id }}</td>
                <td>{{ room.summary }}</td>
                <td>{{ room.description }}</td>
                <td>{{ room.capacity }}</td>
                <td>{{ room.superficy }}</td>
                <td>{{ room.price }}</td>
                <td>{{ room.address }}</td>
                <td>{{ room.animals ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('room_show', {'id': room.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('room_edit', {'id': room.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('room_new') }}">Create new</a>
{% endblock %}
