{% extends 'base.html.twig' %}

{% block title %}Room{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('room_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Room</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('room_edit', {'id': room.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ room.id }}</td>
        </tr>
        <tr>
            <th>Summary</th>
            <td>{{ room.summary }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ room.description }}</td>
        </tr>
        <tr>
            <th>Capacity</th>
            <td>{{ room.capacity }} {{ "people"|trans }}</td>
        </tr>
        <tr>
            <th>Superficy</th>
            <td>{{ room.superficy }}m<sup>2</sup></td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ room.price }}&euro;</td>
        </tr>
        <tr>
            <th>Address</th>
            <td><a href="https://www.openstreetmap.org/search?query={{ room.address }}"
                   target="_blank">{{ room.address }}&nbsp;<i class="fas fa-map-marked-alt"></i></a></td>
        </tr>
        <tr>
            <th>Animals</th>
            <td>{{ room.animals ? 'Tolerated' : 'Unauthorized' }}</td>
        </tr>
        <tr>
            <th>Pictures</th>
            <td>
                {% if room.pictures is not empty %}
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#picturesModal">
                        Display&nbsp;({{ room.pictures|length }})
                    </button>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>
                <a href="{{ path('owner_show', {id: room.owner.id}) }}">{{ room.owner.name }}</a>
            </td>
        </tr>
        <tr>
            <th>Regions</th>
            <td>
                {% if room.regions|length > 0 %}
                    {% for region in room.regions %}
                        <a href="{{ path('region_show', {'id': region.id}) }}"
                        >{{ region.name }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('region_index', {'room': room.id}) }}">
                        Show all ({{ room.regions|length }})</a>
                {% else %}
                    No regions
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Bookings</th>
            <td>
                {% if room.bookings|length > 0 %}
                    {% for booking in room.bookings %}
                        <a href="{{ path('booking_show', {'id': booking.id}) }}">{{ booking.startingOn|date("F jS Y") }}
                        - {{ booking.endingOn|date("F jS Y") }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('booking_index', {'room': room.id}) }}">
                        Show all ({{ room.bookings|length }})</a>
                {% else %}
                    No bookings
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>
                {% if room.comments|length > 0 %}
                    {% for comment in room.comments %}
                    <a href="{{ path('comment_show', {'id': comment.id}) }}"
                    >#{{ comment.id }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('comment_index', {'room': room.id}) }}">
                        Show all ({{ room.comments|length }})</a>
                {% else %}
                    No comments
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Unavailabilities</th>
            <td>
                {% if room.unavailabilities|length > 0 %}
                    {% for unavailability in room.unavailabilities %}
                    <a href="{{ path('unavailability_show', {'id': unavailability.id}) }}"
                    >#{{ unavailability.id }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('unavailability_index', {'room': room.id}) }}">
                        Show all ({{ room.unavailabilities|length }})</a>
                {% else %}
                    No unavailabilities
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/room/_delete_form.html.twig') }}

    <div class="modal fade" id="picturesModal" tabindex="-1" role="dialog" aria-labelledby="picturesModalLabel"
         aria-hidden="true">
        <div class="modal-dialog w-75" role="document" style="max-width: none;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="picturesModalLabel">Pictures of the room</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    {% for picture in room.pictures %}
                        <img class="img-fluid rounded mb-3" src="{{ vich_uploader_asset(picture, 'file') }}"
                             alt="{{ picture.name }}"/><br/>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
