{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Country</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.birthday ? client.birthday|date('d/m/Y') : '' }}</td>
                <td>{{ client.country }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('client_edit', {'id': client.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('client_new') }}">Create new</a>
{% endblock %}
