{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('client_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Client</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('client_edit', {'id': client.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ client.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ client.name }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ client.birthday|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ client.country }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td><a href="{{ path('user_show', {id: client.user.id}) }}">{{ client.user.email }}</a></td>
        </tr>
        <tr>
            <th>Bookings</th>
            <td>
                {% if client.bookings|length > 0 %}
                    {% for booking in client.bookings %}
                        <a href="{{ path('booking_show', {'id': booking.id}) }}">{{ booking.startingOn|date("F jS Y") }}
                        - {{ booking.endingOn|date("F jS Y") }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('booking_index', {'client': client.id}) }}">
                        Show all ({{ client.bookings|length }})</a>
                {% else %}
                    No bookings
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Comments</th>
            <td>
                {% if client.comments|length > 0 %}
                    {% for comment in client.comments %}
                        <a href="{{ path('comment_show', {'id': comment.id}) }}"
                        >{{ comment.writtenAt|date("H:i, F jS Y") }}</a>{% if not loop.last %}, {% else %}
                        <br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('comment_index', {'client': client.id}) }}">
                        Show all ({{ client.comments|length }})</a>
                {% else %}
                    No comments
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/client/_delete_form.html.twig') }}
{% endblock %}
