{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Content</th>
            <th>Rate</th>
            <th>Accepted</th>
            <th>Moderation Requested</th>
            <th>Written At</th>
            <th>Moderated At</th>
            <th>Room</th>
            <th>Client</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.rate }}/5</td>
                <td>{{ comment.accepted ? 'Yes' : 'No' }}</td>
                <td>{{ comment.moderationRequested ? 'Yes' : 'No' }}</td>
                <td>{{ comment.writtenAt ? comment.writtenAt|date("H:i, F jS Y") : '' }}</td>
                <td>{{ comment.moderatedAt ? comment.moderatedAt|date("H:i, F jS Y") : '' }}</td>
                <td><a href="{{ path('room_show', {'id': comment.room.id}) }}">#{{ comment.room.id }}</a></td>
                <td><a href="{{ path('client_show', {'id': comment.client.id}) }}">{{ comment.client.user.email }}</a>
                </td>
                <td>
                    <a href="{{ path('comment_show', {'id': comment.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('comment_edit', {'id': comment.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('comment_new') }}">Create new</a>
{% endblock %}
