{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('comment_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Comment</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('comment_edit', {'id': comment.id}) }}">
                <i class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ comment.id }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ comment.content }}</td>
        </tr>
        <tr>
            <th>Rate</th>
            <td>{{ comment.rate }}/5</td>
        </tr>
        <tr>
            <th>Accepted</th>
            <td>{{ comment.accepted ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Moderation Requested</th>
            <td>{{ comment.moderationRequested ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Written At</th>
            <td>{{ comment.writtenAt ? comment.writtenAt|date("H:i, F jS Y") : '' }}</td>
        </tr>
        <tr>
            <th>Moderated At</th>
            <td>{{ comment.moderatedAt ? comment.moderatedAt|date("H:i, F jS Y") : '' }}</td>
        </tr>
        <tr>
            <th>Room</th>
            <td>
                <a href="{{ path('room_show', {id: comment.room.id}) }}">#{{ comment.room.id }}</a>
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/comment/_delete_form.html.twig') }}
{% endblock %}
