{% extends 'base.html.twig' %}

{% block title %}Booking #{{ booking.id }}{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('oo_bookings') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Booking</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('oo_booking_manage', {'id': booking.id}) }}"><i
                        class="fas fa-check"></i>&nbsp;Manage</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Starting On</th>
            <td>{{ booking.startingOn ? booking.startingOn|date('F jS Y') : '' }}</td>
        </tr>
        <tr>
            <th>Ending On</th>
            <td>{{ booking.endingOn ? booking.endingOn|date('F jS Y') : '' }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ booking.confirmed ? 'Accepted' : 'Please manage the booking' }}</td>
        </tr>
        <tr>
            <th>Room</th>
            <td>
                <a href="{{ path('fo_show_room', {room: booking.room.id, owner: booking.room.owner.id}) }}">#{{ booking.room.id }}</a>
            </td>
        </tr>
        <tr>
            <th>Guests</th>
            <td>
                {% if booking.guests|length > 0 %}
                    <ul>
                        {% for guest in booking.guests %}
                            <li>{{ guest.name }}, born on the {{ guest.birthday|date('F jS Y') }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    No guests
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
