{% extends 'base.html.twig' %}
{% block title %}My Bookings{% endblock %}

{% block body %}
    <h1 class="h3 mb-3">Manage your bookings</h1>

    <table class="table">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Nb of guests</th>
            <th>Room</th>
            <th>Status</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.startingOn|date('d/m/Y') }}</td>
                <td>{{ booking.endingOn|date('d/m/Y') }}</td>
                <td>{{ booking.guests|length }}</td>
                <td>#{{ booking.room.id }}</td>
                <td>{{ booking.confirmed ? 'Accepted' : 'Pending confirmation' }}</td>
                <td>
                    <a href="{{ path('oo_booking', {'id': booking.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('fo_show_room', {'room': booking.room.id, 'owner': booking.room.owner.id}) }}"><i
                                class="fas fa-bed"></i></a>&nbsp;
                    <a href="{{ path('oo_booking_manage', {'id': booking.id}) }}"><i class="fas fa-check"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
