{% extends 'base.html.twig' %}

{% block title %}My Administration{% endblock %}

{% block body %}
    <h1>This is your administrative space.</h1>

    <h2>Administrate your resources</h2>
    <ul>
        <li><a href="{{ path('oo_bookings') }}">Your bookings status</a></li>
    </ul>
{% endblock %}
