{% extends 'base.html.twig' %}
{% block title %}Manage Booking{% endblock %}

{% block body %}
    <h1 class="h3 text-center">Book a room</h1>
    <div class="d-flex justify-content-center">
        <div class="w-75">
            {{ form_start(form) }}
            {{ form_row(form.startingOn) }}
            {{ form_row(form.endingOn) }}
            {{ form_row(form.confirmed) }}
            {{ form_row(form.guests) }}
            <button type="submit" class="btn btn-success">Manage</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('booking-guests-collection-forms') }}
{% endblock %}
