{% extends 'base.html.twig' %}

{% block title %}Unavailability index{% endblock %}

{% block body %}
    <h1>Unavailability index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Starting On</th>
            <th>Ending On</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for unavailability in unavailabilities %}
            <tr>
                <td>{{ unavailability.id }}</td>
                <td>{{ unavailability.startingOn ? unavailability.startingOn|date("F jS Y") : '' }}</td>
                <td>{{ unavailability.endingOn ? unavailability.endingOn|date("F jS Y") : '' }}</td>
                <td>
                    <a href="{{ path('unavailability_show', {'id': unavailability.id}) }}"><i
                                class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('unavailability_edit', {'id': unavailability.id}) }}"><i
                                class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('unavailability_new') }}">Create new</a>
{% endblock %}
