{% extends 'base.html.twig' %}

{% block title %}New Unavailability{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('unavailability_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to
        list</a>

    <div class="container-fluid">
        <div class="row">
            <h1>Create new Unavailability</h1>
        </div>
    </div>

    {{ include('back_office/unavailability/_form.html.twig') }}
{% endblock %}
