{% extends 'base.html.twig' %}

{% block title %}Unavailability{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('unavailability_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to
        list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Unavailability</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('unavailability_edit', {'id': unavailability.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ unavailability.id }}</td>
        </tr>
        <tr>
            <th>Starting On</th>
            <td>{{ unavailability.startingOn ? unavailability.startingOn|date("F jS Y") : '' }}</td>
        </tr>
        <tr>
            <th>Ending On</th>
            <td>{{ unavailability.endingOn ? unavailability.endingOn|date("F jS Y") : '' }}</td>
        </tr>
        <tr>
            <th>Room</th>
            <td>
                <a href="{{ path('room_show', {id: unavailability.room.id}) }}">#{{ unavailability.room.id }}</a>
            </td>
        </tr>
        <tr>
            <th>Owner</th>
            <td>
                <a href="{{ path('owner_show', {id: unavailability.owner.id}) }}">{{ unavailability.owner.name }}</a>
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/unavailability/_delete_form.html.twig') }}
{% endblock %}
