@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* Colours */
$background: #222222;
$nav: #0e3f62;

/****** Elements ******/

/***** Blocks *****/

/**** Navs ****/

.bg-app {
  background-color: $nav;
}

/***** Layouts *****/
/**** Divs ****/

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $background;
  color: white;
}

body.default header {
  background-color: var(--default-theme) !important;
}

main > .container-fluid {
  padding-bottom: 1rem;
  width: 85%;
}

.table {
  color: inherit;
}

.modal-content {
  background-color: $background;
}


/**** Spaces ****/

.spacer {
  flex: 1;
}

footer {
  height: 50px;
  width: 85%;
  border-top: 1px solid var(--gray);
  display: block;
}

footer #copyright {
  text-align: center;
}

footer a:hover {
  text-decoration: none;
}

/**** Components ****/

button.close, button.close:hover {
  color: white;
}

/***** Content *****/
/**** Images ****/

.vich-image {
  text-align: center;
}

.vich-image > div.custom-file {
  text-align: left;
}

.vich-image > a > img {
  max-width: 100%;
  max-height: 500px;
  margin-top: 10px;
}

/* Outils disponibles ici : https://getbootstrap.com/docs/4.1/utilities/text/ */

/****************************************************
******************* Media Queries *******************
****************************************************/

/** Desktop specific **/

/** Mobile specific **/

@media (max-width: 800px), (max-device-width: 800px) {
  main > .container-fluid {
    width: 100%;
  }
}
