{% extends 'base.html.twig' %}

{% block title %}Owner index{% endblock %}

{% block body %}
    <h1>Owner index</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthday</th>
            <th>Address</th>
            <th>Country</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
            <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.name }}</td>
                <td>{{ owner.birthday|date('d/m/Y') }}</td>
                <td>{{ owner.address }}</td>
                <td>{{ owner.country }}</td>
                <td>
                    <a href="{{ path('owner_show', {'id': owner.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('owner_edit', {'id': owner.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('owner_new') }}">Create new</a>
{% endblock %}
