{% extends 'base.html.twig' %}

{% block title %}Owner{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('owner_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Owner</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('owner_edit', {'id': owner.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ owner.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ owner.name }}</td>
        </tr>
        <tr>
            <th>Birthday</th>
            <td>{{ owner.birthday|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>{{ owner.address }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ owner.country }}</td>
        </tr>
        <tr>
            <th>User</th>
            <td><a href="{{ path('user_show', {id: owner.user.id}) }}">{{ owner.user.email }}</a></td>
        </tr>
        <tr>
            <th>Rooms</th>
            <td>
                {% if owner.rooms|length > 0 %}
                    {% for room in owner.rooms %}
                    <a href="{{ path('room_show', {'id': room.id}) }}"
                    >#{{ room.id }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('room_index', {'owner': owner.id}) }}">
                        Show all ({{ owner.rooms|length }})</a>
                {% else %}
                    No rooms
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Unavailabilities</th>
            <td>
                {% if owner.unavailabilities|length > 0 %}
                    {% for unavailability in owner.unavailabilities %}
                    <a href="{{ path('unavailability_show', {'id': unavailability.id}) }}"
                    >#{{ unavailability.id }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('unavailability_index', {'owner': owner.id}) }}">
                        Show all ({{ owner.unavailabilities|length }})</a>
                {% else %}
                    No unavailabilities
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/owner/_delete_form.html.twig') }}
{% endblock %}
