<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{{ asset('favicon.png')}}" />
        <title>{% block title %}AgVoy{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <header class="mb-3">
        <nav class="navbar navbar-expand-md navbar-dark bg-app">
            <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('favicon.png') }}" alt="logo"
                                                                   style="max-width: 24px;vertical-align: sub; filter: invert(100%)">&nbsp;AgVoy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars"
                    aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    {{ render_bootstrap_menu('main') }}
                </ul>
                {% if app.user %}
                    <ul class="navbar-nav ml-auto">
                        {{ render_bootstrap_menu('user') }}
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto">
                        {{ render_bootstrap_menu('anonymous') }}
                    </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            {% for message in app.session.flashbag.get('info') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="fa fa-info-circle"></i> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            {% for message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-circle"></i> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}

            {% block body %}{% endblock %}
        </div>
    </main>
    <div class="spacer"></div>
    <footer class="mx-auto mt-4">
        <div id="copyright" class="mt-2">
            <p>© {{ date('Y')|date('Y') }} <a href="https://gitlab.com/simtrami" target="_blank">Simtrami</a> · AgVoy
            </p>
        </div>
    </footer>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
