{% extends 'base.html.twig' %}
{% block title %}Book a room{% endblock %}

{% block body %}
    <h1 class="h3 text-center">Book a room</h1>
    <div class="d-flex justify-content-center">
        <div class="w-75">
            {{ form_start(form) }}
            {{ form_row(form.startingOn) }}
            {{ form_row(form.endingOn) }}
            {{ form_row(form.guests, {'attr': {
                'data-index': form.guests|length,
                'data-add-text': "Add a guest",
                'data-del-text': "Remove"
            }}) }}
            <button type="submit" class="btn btn-success">Book!</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('booking-guests-collection-forms') }}
{% endblock %}
