{% extends 'base.html.twig' %}

{% block title %}My Space{% endblock %}

{% block body %}
    <h1>This is your space.</h1>

    <h2>Manage your resources</h2>
    <ul>
        <li><a href="{{ path('co_bookings') }}">Your bookings status</a></li>
    </ul>
{% endblock %}
