{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h4>About Us</h4>

    <p>Sweet chili soup is just not the same without curry and tasty bitter blueberries.</p>
{% endblock %}

