{% extends 'base.html.twig' %}

{% block title %}AgVoy{% endblock %}

{% block body %}
    <h1>AgVoy</h1>

    This is the homepage

    <a href="{{ path('fo_list_regions') }}">Explore</a>
{% endblock %}
