{% extends 'base.html.twig' %}

{% block title %}Liked Rooms{% endblock %}

{% block body %}
    <h2>Liked Rooms</h2>

    <table class="table" id="rooms">
        <thead>
        <tr>
            <th>Summary</th>
            <th>Region(s)</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in rooms %}
            <tr>
                <td>{{ room.summary }}</td>
                <td>
                    {% for region in room.regions %}
                        <a
                        href="{{ path('fo_list_rooms_of_region', {region: region.id}) }}">{{ region.name }}</a>{% if not loop.last %}, {% endif %}
                    {% else %}
                        No Region
                    {% endfor %}
                </td>
                <td>
                    {# Margin + 20% VAT #}
                    {{ room.price * 1.05 + room.price * 0.2 }}
                </td>
                <td>
                    <a href="{{ path('fo_show_room', {'owner': room.owner.id,'room': room.id}) }}"
                    >Show</a>
                </td>
            </tr>
        {% else %}
            Nothing to display
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

