{% extends 'base.html.twig' %}

{% block title %}{{ owner.name }}{% endblock %}

{% block body %}
    <h2>{{ owner.name }}</h2>

    <p>{{ owner.name }} is a nice person.</p>

    <h3>Available rooms</h3>
    <table class="table" id="rooms">
        <thead>
        <tr>
            <th>Summary</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for room in owner.rooms %}
            <tr>
                <td>{{ room.summary }}{{ room.id in likes ? '&nbsp;<i class="fas fa-heart"></i>' }}</td>
                <td>
                    {# Margin + 20% VAT #}
                    {{ room.price * 1.05 + room.price * 0.2 }}
                </td>
                <td>
                    <a href="{{ path('fo_show_room', {'owner': room.owner.id,'room': room.id}) }}"
                    >Show</a>
                </td>
            </tr>
        {% else %}
            Nothing to display
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fo_liked_rooms') }}">Liked rooms</a>
{% endblock %}

