{% extends 'base.html.twig' %}

{% block title %}Select a region{% endblock %}

{% block body %}
    <h3>Select a region</h3>

    <table class="table table-sm table-hover" id="regions">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Country</th>
            <th scope="col">Available Rooms</th>
        </tr>
        </thead>
        <tbody>
        {% for item in regions %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.country }}</td>
                <td><a href="{{ path('fo_list_rooms_of_region', {'region': item.id}) }}">Show</a></td>
            </tr>
        {% else %}
            Nothing to display
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fo_liked_rooms') }}">Liked rooms</a>
{% endblock %}

