{% extends 'base.html.twig' %}

{% block title %}Room #{{ room.id }}{% endblock %}

{% block body %}
    <h4>{{ room.summary }}&nbsp;
        <a class="text-danger" href="{{ path('fo_update_room_like', {'owner': room.owner.id, 'room': room.id}) }}">
            <i class="{{ room.id in likes ? 'fas' : 'far' }} fa-heart"></i>
        </a>
    </h4>

    <ul>
        <li>Owner: {{ room.owner.name }}</li>
        <li>Description: {{ room.description }}</li>
        <li>Capacity: {{ room.capacity }} people</li>
        <li>Superficy: {{ room.superficy }}m<sup>2</sup></li>
        <li>Price:
            {# Margin + 20% VAT #}
            {{ room.price * 1.05 + room.price * 0.2 }}
        </li>
        <li>Address: {{ room.address }}</li>
        <li>Animals: {{ room.animals ? 'yes' : 'no' }}</li>
        <li>Regions:
            <ul>
                {% for region in room.regions %}
                    <li>{{ region.name }}</li>
                {% endfor %}
            </ul>
        </li>
        <li>Unavailabilities:
            <ul>
                {% for booking in room.bookings|filter(booking => booking.confirmed) %}
                    <li>From {{ booking.startingOn|date('d/m/Y') }} to {{ booking.endingOn|date('d/m/Y') }}</li>
                {% endfor %}
                {% for unavailability in room.unavailabilities %}
                    <li>From {{ unavailability.startingOn|date('d/m/Y') }}
                        to {{ unavailability.endingOn|date('d/m/Y') }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <div class="row">
        <a class="btn btn-primary" href="{{ path('co_book', {'room': room.id}) }}">Book this room</a>
    </div>


    {#<div>
        <h4>Comments</h4>
        <ul>
            {% for comment in room.comments|filter(comment => comment.accepted) %}
                <li>{{ comment.rate }}/5 - {{ comment.content }} - {{ comment.writtenAt|date() }}</li>
            {% endfor %}
        </ul>
        <h4>What did you think of this room?</h4>
        {{ form(form) }}
    </div>#}
{% endblock %}
