{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('region_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>

    <div class="container-fluid">
        <div class="row">
            <h1>Create new Region</h1>
        </div>
    </div>

    {{ include('back_office/region/_form.html.twig') }}
{% endblock %}
