{% extends 'base.html.twig' %}

{% block title %}Region{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('region_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Region</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('region_edit', {'id': region.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ region.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ region.name }}</td>
        </tr>
        <tr>
            <th>Presentation</th>
            <td>{{ region.presentation }}</td>
        </tr>
        <tr>
            <th>Country</th>
            <td>{{ region.country }}</td>
        </tr>
        <tr>
            <th>Rooms</th>
            <td>
                {% if region.rooms|length > 0 %}
                    {% for room in region.rooms %}
                    <a href="{{ path('room_show', {'id': room.id}) }}"
                    >#{{ room.id }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('room_index', {'region': region.id}) }}">
                        Show all ({{ region.rooms|length }})</a>
                {% else %}
                    No rooms
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/region/_delete_form.html.twig') }}
{% endblock %}
