{{ form_start(form) }}
    {{ form_row(form.startingOn) }}
    {{ form_row(form.endingOn) }}
    {{ form_row(form.confirmed) }}
    {{ form_row(form.room) }}
    {{ form_row(form.guests, {'attr': {
        'data-index': form.guests|length,
        'data-add-text': "Add a guest",
        'data-del-text': "Remove"
    }}) }}

<button class="btn btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
