{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Starting On</th>
            <th>Ending On</th>
            <th>Confirmed</th>
            <th>Room</th>
            <th>Nb of Guests</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.startingOn ? booking.startingOn|date('F jS Y') : '' }}</td>
                <td>{{ booking.endingOn ? booking.endingOn|date('F jS Y') : '' }}</td>
                <td>{{ booking.confirmed ? 'Yes' : 'No' }}</td>
                <td><a href="{{ path('room_show', {'id': booking.room.id}) }}">#{{ booking.room.id }}</a></td>
                <td>{{ booking.guests|length }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}"><i class="fas fa-eye"></i></a>&nbsp;
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('booking_new') }}">Create new</a>
{% endblock %}
