{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('booking_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>

    <div class="container-fluid">
        <div class="row">
            <h1>Create new Booking</h1>
        </div>
    </div>

    {{ include('back_office/booking/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('booking-guests-collection-forms') }}
{% endblock %}
