{% extends 'base.html.twig' %}

{% block title %}Booking{% endblock %}

{% block body %}
    <a class="btn btn-link" href="{{ path('booking_index') }}"><i class="fas fa-arrow-left"></i>&nbsp;back to list</a>
    <div class="container-fluid pb-0">
        <div class="row">
            <h1>Booking</h1>
            <div class="spacer"></div>
            <a class="btn btn-outline-primary my-2" href="{{ path('booking_edit', {'id': booking.id}) }}"><i
                        class="fas fa-edit"></i>&nbsp;Edit</a>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ booking.id }}</td>
        </tr>
        <tr>
            <th>Starting On</th>
            <td>{{ booking.startingOn ? booking.startingOn|date('F jS Y') : '' }}</td>
        </tr>
        <tr>
            <th>Ending On</th>
            <td>{{ booking.endingOn ? booking.endingOn|date('F jS Y') : '' }}</td>
        </tr>
        <tr>
            <th>Confirmed</th>
            <td>{{ booking.confirmed ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Room</th>
            <td>
                <a href="{{ path('room_show', {id: booking.room.id}) }}">#{{ booking.room.id }}</a>
            </td>
        </tr>
        <tr>
            <th>Guests</th>
            <td>
                {% if booking.guests|length > 0 %}
                    {% for guest in booking.guests %}
                        <a href="{{ path('guest_show', {'id': guest.id}) }}"
                        >{{ guest.name }}</a>{% if not loop.last %}, {% else %}<br/>{% endif %}
                    {% endfor %}
                    <a class="btn btn-secondary btn-sm" href="{{ path('guest_index', {'booking': booking.id}) }}">
                        Show all ({{ booking.guests|length }})</a>
                {% else %}
                    No guests
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>

    {{ include('back_office/booking/_delete_form.html.twig') }}
{% endblock %}
