{% extends 'base.html.twig' %}

{% block title %}Administration Dashboard{% endblock %}

{% block body %}
    <h2>This is the Dashboard</h2>

    <code>TODO: Add things to administrate here</code>

    <h3>Manage resources</h3>
    <ul>
        <li><a href="{{ path('booking_index') }}">Bookings</a></li>
        <li><a href="{{ path('client_index') }}">Clients</a></li>
        <li><a href="{{ path('comment_index') }}">Comments</a></li>
        <li><a href="{{ path('guest_index') }}">Guests</a></li>
        <li><a href="{{ path('owner_index') }}">Owners</a></li>
        <li><a href="{{ path('region_index') }}">Regions</a></li>
        <li><a href="{{ path('room_index') }}">Rooms</a></li>
        <li><a href="{{ path('unavailability_index') }}">Unavailabilities</a></li>
        <li><a href="{{ path('user_index') }}">Users</a></li>
    </ul>
{% endblock %}
